@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0ecec;
}

.imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .canvas {
        transform: scale(1);
        transform-origin: top left;
    }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .canvas {
        width: 100vw; 
        height: auto; 
        transform: none; 
        overflow-y: auto; 
    }
}

@media screen and (orientation: landscape) {
    .canvas {
        width: 100vw;
        height: auto;
        transform: none;
        overflow-y: auto;
    }
}
